<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.justdo.fruitfruit.model.dao.BillingMapper">
    <resultMap id="BillingMap" type="com.justdo.fruitfruit.model.dto.OrderDTO">
        <id property="orderSeq" column="order_seq"/>
        <result property="userSeq" column="user_seq"/>
        <result property="companySeq" column="company_seq"/>
        <result property="totalPrice" column="total_price"/>
        <result property="sta" column="status"/>
        <result property="registerDate" column="register_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <select id="BillingAmount" parameterType="hashmap" resultMap="BillingMap">
        SELECT A.order_seq, A.user_seq, A.company_seq, A.total_price, A.status, A.register_date, A.update_date
        FROM orders A
        WHERE A.company_seq = ( SELECT B.company_seq FROM company B WHERE B.user_seq
        = ( SELECT C.user_seq FROM user C WHERE C.id = #{ userid } )) AND status > 2
    </select>
</mapper>