<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.justdo.fruitfruit.model.dao.ProductMapper">

    <select id="selectAllProductByConsumer" resultType="productDTO">
        SELECT
        P.product_seq,
        P.product_name,
        P.product_amount,
        P.product_weight,
        P.product_price,
        C.category_name,
        G.grade_name
        FROM
        product P LEFT JOIN category C
        ON P.category_seq = C.category_seq
        LEFT JOIN grade G
        ON P.grade_seq = G.grade_seq
        WHERE P.product_status = 2;
    </select>

    <select id="selectAllProductByCategory" resultType="productDTO">
        SELECT
        P.product_seq,
        P.product_name,
        P.product_amount,
        P.product_weight,
        P.product_price,
        C.category_name,
        G.grade_name
        FROM
        product P LEFT JOIN category C
        ON P.category_seq = C.category_seq
        LEFT JOIN grade G
        ON P.grade_seq = G.grade_seq
        WHERE
            P.category_seq = #{categorySeq}
            AND P.product_status = 2;
    </select>

    <select id="selectAllCategory" resultType="categoryDTO">
        SELECT
        C.category_seq,
        C.category_name
        FROM
        category C
    </select>

    <select id="productName" resultType="String" parameterType="int">
            select product_name from product where product_seq = #{ productSeq }
    </select>
    <select id="productPrice" parameterType="_int" resultType="_int">
        select A.product_price from product A where A.product_seq = (select B.product_seq from cart B where B.product_seq = #{ productSeq } and B.user_seq = #{ userSeq } and delete_yn = 0 )
    </select>

</mapper>
