<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.justdo.fruitfruit.model.dao.UserMapper">
    
    <select id="login" resultType="userDTO">
        select
        *
        from
        user
        where
        id = #{id}
        and
        password = #{password}
    </select>
    
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userSeq">
        insert into
        user (id, password, name, address, phone_number, auth)
        values(#{id}, #{password}, #{name}, #{address}, #{phoneNumber},  #{auth})
    </insert>

    <select id="searchUser" parameterType="String" resultType="_int">
        select
        user_seq
        from
        user
        where
        id = #{id}
    </select>
    <select id="findUserId" resultType="userDTO">
        select
        id
        from
        user
        where
        name = #{name}
        and
        phone_number = #{phoneNumber}
        and
        auth in (3, 4)
    </select>

    <select id="existUserByInfo" resultType="UserDTO">
        SELECT id, name, phone_number AS phoneNumber
        FROM user
        WHERE id = #{id}
        AND name = #{name}
        AND phone_number = #{phoneNumber}
    </select>

    <update id="findUserPassword">
        UPDATE user
        SET password = #{password}
        WHERE id = #{id}
    </update>
</mapper>
